/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
// background: url('/assets/img/elements/bg_gray_95x90.png');
//  .at2x('../img/elements/bg_gray_95x90.png', 95px, 90px);

body{
  min-width: 940px;
  background:url('../img/elements/banner_background_1200x774.jpg') top center no-repeat white;
  .at2x('../img/elements/banner_background_1200x774.jpg', 1200px, 774px);
}
 
.container-fixed {
  margin: 0 auto;
  max-width: 940px;
}
.container-fixed > hr {
  margin: 30px 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}


h2, h3{
  color: @wbeaBrightBlue;
}

p{
  color: @wbeaGray;
}

.social_media_icons{
  float:right;
  a{
    display: block;
    width: 30px;
    height: 22px;
    float: left;
  }
  a[title="Facebook"]{
    background:url('../img/elements/header_facebook_icon_22x22.png') center center no-repeat transparent;
    .at2x('../img/elements/header_facebook_icon_22x22.png', 22px, 22px);
  }
  a[title="Twitter"]{
    background:url('../img/elements/header_twitter_icon_22x22.png') center center no-repeat transparent;
    .at2x('../img/elements/header_twitter_icon_22x22.png', 22px, 22px);
  }
  a[title="Email"]{
    background:url('../img/elements/header_mail_icon_22x22.png') center center no-repeat transparent;
    .at2x('../img/elements/header_mail_icon_22x22.png', 22px, 22px);
  }
  a[title="LinkedIn"]{
    background:url('../img/elements/header_linkedin_icon_22x22.png') center center no-repeat transparent;
    .at2x('../img/elements/header_linkedin_icon_22x22.png', 22px, 22px);
  }
}

header{
	.logo{
		background:url('../img/elements/Header_logo_312x244.png') center center no-repeat transparent;
    .at2x('../img/elements/Header_logo_312x244.png', 312px, 244px); 
    width: 312px;
    height: 244px;
    margin-top: 35px;
    margin-bottom: 10px;
	}
  .col-xs-6:last-child{
	  margin-top: 10px;
    text-align:center;
    color: @wbeaBlue;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 5px 0;
    a{
      color: white;
      &:hover,
      &:active{
        color: @wbeaBlue;
        text-decoration: none;
      }
    }//a
    .social_media_icons{
      margin-left: -70px;
    }
    h1{
      text-align:center;
			margin: 48px 0 10px 0;
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0;
      color: @wbeaPink;
      -webkit-font-smoothing: antialiased;
      font-family: @font-family-sans-serif;
    }
    span{
      text-align: center; 
      display:block;
      font-size: 14px;
      font-weight: 200; 
      letter-spacing: .3px;
      margin-bottom: 2px;
      a{
        color: white;
      }
    }//sub
  }//col6
  a.button{
	  margin-top: 15px;
	  display:inline-block;
	  background-color: @wbeaFuschia;
	  text-transform: uppercase;
	  padding: 10px 12px 10px 12px;
	  font-size: 19px;
	  font-weight: normal;
	  letter-spacing: 1px;
	  text-shadow: 1px 1px 6px @wbeaDarkRed; 
	  -webkit-font-smoothing: antialiased;
	  font-family: @font-family-monospace;
	  &:hover,
	  &:active{
		  color: white !important; 
		  background-color: @wbeaPink;
		  text-decoration: none;
	  }
	  &.purple{
		  background-color: @wbeaPurple;
		  &:hover,
		  &:active{
			  background-color: @wbeaPink;
		  }
	  }
  }
}//header

#section_1{ 
  text-align:center;
  padding-bottom: 35px;
  .tagline{
    width: 100%;
    height: 46px;
    background:url('../img/elements/banner_tagline_494x46.png') center center no-repeat transparent;
    .at2x('../img/elements/banner_tagline_494x46.png', 494px, 46px); 
    display:block;
    margin-top: 98px;
  }
  p{
    color: white;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: .4px;
    font-family: @font-family-monospace;
    -webkit-font-smoothing: antialiased;
  }
  h3{
    font-weight: 300;
    border-bottom: 4px solid @wbeaDarkFuschia;
    padding-bottom: 13px;
    letter-spacing: .4px;
    margin: 39px 0 2px 0;
    color: white;
    font-family: @font-family-monospace;
  }
  table{
    color: white;
    letter-spacing: .8px;
    display:block;
    line-height: 18px;
    tr{
      border: 0;
      height: 45px;
      td{
        text-align:left;
        &:first-child{
          width: 140px;
        }
      }
      &.no_border{
        border: 0;
      }
      &.note{
        height: inherit;
      }
      &:first-child{
	      height:50px;
      }
    }
  }//table
}

#section_2{
  margin: 95px 0 55px 0;
  h2{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    border-bottom: 4px solid @wbeaDarkFuschia;
    padding: 0 0 18px 0;
    margin: 0 0 30px 0;
    font-family: @font-family-monospace;
    -webkit-font-smoothing: antialiased;
  }
  p{
    -webkit-font-smoothing: antialiased;
    strong{
      color: @wbeaPurple;
      font-weight: 700;
    }
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 80px;
    li{
      padding-bottom: 6px;
      color: @wbeaGray;
      -webkit-font-smoothing: antialiased;
    }
  }
}

#section_3{
  margin-top:20px;
  text-align:center;
  margin-bottom: 0;
  h2{
    font-size: 46px;
    margin-bottom: 15px;
    font-family: @font-family-monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }
  hr{
    border-top: 4px solid @wbeaDarkFuschia;
    padding: 0;
    margin: 0 0 20px 0;
  }
  .sponsor{
    color: @wbeaLightGray;
    position:absolute;
    -webkit-font-smoothing: antialiased;
    right: 0;
    margin-top: -40px;
    margin-right:15px;
    font-size: 19px;
    font-weight: 300;
    font-family: @font-family-monospace;
  }
  h4{
    color: @wbeaPurple;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 1px;
    margin-top: 40px;
    font-family: @font-family-monospace;
    white-space:nowrap;
  }
  .col-xs-4 h4{
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .col-xs-3 h4{
    text-align: left;
  }
  .move-left{
	  margin-left: -30px;
	  
  }
  img{
    display:block;
    margin: 0 auto;
    margin-top: 20px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:left;
    li{
      padding-bottom: 6px;
      color: @wbeaGray;
      -webkit-font-smoothing: antialiased;
    }
  }
  a.button{
	  margin-top: 45px;
	  display:inline-block;
	  background-color: @wbeaLightGray;
	  text-transform: uppercase;
	  padding: 10px 12px 10px 12px;
	  font-size: 19px;
	  font-weight: normal;
	  float: left;
	  color: @wbeaBlack;
	  letter-spacing: 1px;
	  text-shadow: 1px 1px 6px @gray-light; 
	  -webkit-font-smoothing: antialiased;
	  font-family: @font-family-monospace;
	  &:hover,
	  &:active{
		  color: @wbeaBlack; 
		  background-color: @wbeaLighterGray;
		  text-decoration: none;
	  }
  }
  .wbea-logo{
	  background:url('../img/elements/Footer_WBEA_logo_105x151.png') center center no-repeat transparent;
		.at2x('../img/elements/Footer_WBEA_logo_105x151.png', 105px, 151px); 
		display: block;
		width: 105px;
		height: 151px;
		float: right;
  }
}

#error{
  background:url('../img/elements/banner_swirl_background_1628x367.png') -240px 0px no-repeat transparent;
  .at2x('../img/elements/banner_swirl_background_1628x367.png', 1628px, 367px);
  background-color: @wbeaPurple;
  text-align:center;
  height: 600px;
  h1{
    color: white;
    font-weight: bold;
    font-size: 70px;
    margin: 200px 0 35px 0;
    border-bottom: 4px solid @wbeaPink;
    padding-bottom: 30px;
  }
  p{
    color: @wbeaOrange;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: .5px;
  }
}

footer{
  background-color: @wbeaDarkPurple;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top:20px;
  font-size: 11px;
  letter-spacing: .5px;
  a{
    color: white;
    &:hover,
    &:active{
      color: @wbeaPink;
      text-decoration: none;
    }
    &.pull-right{
      margin-top:7px;
    }
  }
}

